@font-face {
  font-family: 'gilroy-bold.ttf';
  src: url("../fonts/Gilroy-Bold.ttf");
}

/*------------- 
[Table of contents]

[ DEFULT INDEX NUMBER ]

1.  GENERAL CSS
2.  NAVBAR
4.  HOME
5.  SERVICES
6.  CASE STUDY
7.  ABOUT US
8.  CASE STUDY
9.  TEAM MEMBERS
10. FEEDBACKS
11. CONTACT
12. FOOTER
13. COPYRIGHT


-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[ Color codes ]
    
    [ Text and Background Color ]
        Primary Color:                  #177869;     
        Primary Color Light:            #15b95f;      
        Hilighted Color:                #fa7b70;
        Font Color 1:                   #031d3c;      
        Font Color 2:                   #1e3547;            
        Border Color:                   #f3efea;
        Def p:                          #292825;
        Behance i:                      #0d6bff;
        Pet Color:                      #005f55;
        Bg Color1:                      #fcfbf8;
        Bg Color2:                      #e0fbf6;
        Yl Color:                       #fec468;
        Cyan Color:                     #52bdb9;
        White:                          #ffffff;
        Black:                          #000000;
        White Opacity:                  rgba(255,255,255,.7);           

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Typography]

    [ There are using two different font typography ]
        Typography 1: Nunito font;
        Typography 2: SourceSansPro font;
        Typography 3: Karla font;
        Typography 4: Gilroy font;

    [ Other Typography style are same ]
    Body :
        font-style:     normal;
        font-size:      15px;

    h2:
        font-size: 48px;
        line-height: 55px;

    h3:
        font-size: 30px;
        line-height: 40px;

    h4:
        font-size: 20px;
        font-weight: 600;

    p:  
        font-size: 18px;
        line-height: 30px;


-------------------------------------------------------------------*/
.p-lr {
  padding-left: 39px;
  padding-right: 39px;
}

.p-l {
  padding-left: 36px;
}

.p-r {
  padding-right: 39px;
}

.p-r2 {
  padding-right: 50px;
}

.color-1 {
  color: #5E65F4 !important;
}

.color-2 {
  color: #3a3cbc !important;
}

.color-3 {
  color: #ff855f !important;
}

hr {
  margin: 0 auto;
  width: 70%;
  border-top: 1px solid #f7f5ef;
}

.logo-wrapper {
  padding: 100px 0;
  background: none;
}

.logo-wrapper .section-header h5 {
  color: #177869 !important;
}

.ceo-msg-wrapper {
  padding: 100px 0;
  padding-bottom: 200px;
}

.ceo-msg-wrapper .ceo-msg-wrap {
  position: relative;
}

.ceo-msg-wrapper .ceo-msg-wrap .msg-wrap {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px 30px 0 0;
  position: relative;
  overflow: hidden;
}

.ceo-msg-wrapper .ceo-msg-wrap .msg-wrap .ceo-inner {
  padding-top: 52px;
  padding-bottom: 135px;
}

.ceo-msg-wrapper .ceo-msg-wrap .msg-wrap .ceo-inner h1 {
  padding: 20px 0 20px 0;
  font-family: Nunito;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2.51px;
  color: #ffffff;
}

.ceo-msg-wrapper .ceo-msg-wrap .msg-wrap .ceo-inner p {
  padding-bottom: 20px;
  font-family: Karla;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.02px;
  opacity: .9;
  color: #ffffff;
}

.ceo-msg-wrapper .ceo-msg-wrap .msg-wrap .ceo-inner .circle-yl {
  padding: 45.9px;
  border-radius: 50%;
  margin: 4px 0 40px auto;
  background-color: #fec468;
  position: absolute;
  bottom: 0;
  right: -91px;
}

.ceo-msg-wrapper .ceo-msg-wrap .msg-wrap .circle-rd {
  padding: 14px;
  background-color: #fa7b70;
  border-radius: 50%;
  position: absolute;
  top: 209px;
  left: 46px;
  left: -14px;
}

.ceo-msg-wrapper .ceo-msg-wrap .msg-card-wrap {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -85px;
}

.ceo-msg-wrapper .ceo-msg-wrap .msg-card-wrap .msg-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  padding: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 28px 54px 0 rgba(171, 171, 180, 0.18);
          box-shadow: 2px 28px 54px 0 rgba(171, 171, 180, 0.18);
  background-color: #ffffff;
}

.ceo-msg-wrapper .ceo-msg-wrap .msg-card-wrap .msg-card .msg-card-content {
  text-align: center;
}

.ceo-msg-wrapper .ceo-msg-wrap .msg-card-wrap .msg-card .msg-card-content h1 {
  font-family: Karla;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fec468;
}

.ceo-msg-wrapper .ceo-msg-wrap .msg-card-wrap .msg-card .msg-card-content h5 {
  opacity: 0.6;
  font-family: Karla;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.1px;
  color: #031d3c;
}

.abt-logo-wrapper {
  background: none;
}

.about-member-wrapper {
  padding: 0;
  background: none;
  margin-top: 0px;
}

.about-member-wrapper hr {
  margin: 0px auto;
  width: 70%;
  border-top: 1px solid #f7f5ef;
}

.about-member-wrapper .about-member-wrap {
  padding: 100px 0;
}

.about-member-wrapper .about-member-wrap .about-mem-card-wrap .about-member-circle {
  background-color: #fa7b70 !important;
  top: 10px !important;
}

.blog-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 251, 248, 0)), color-stop(44%, #fcfbf8), to(rgba(252, 251, 248, 0.7)));
  background-image: linear-gradient(to bottom, rgba(252, 251, 248, 0), #fcfbf8 44%, rgba(252, 251, 248, 0.7));
}

.blog-wrapper .blog-wrap {
  padding: 100px 0;
}

.blog-wrapper .blog-wrap .blog-card-wrap .blog-card {
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.blog-wrapper .blog-wrap .blog-card-wrap .blog-card:hover {
  cursor: pointer;
}

.blog-wrapper .blog-wrap .blog-card-wrap .blog-card:hover .blog-img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blog-wrapper .blog-wrap .blog-card-wrap .blog-card .blog-inner .blog-img {
  overflow: hidden;
}

.blog-wrapper .blog-wrap .blog-card-wrap .blog-card .blog-inner .blog-img img {
  -webkit-transition: .5s all;
  transition: .5s all;
}

.blog-wrapper .blog-wrap .blog-card-wrap .blog-card .blog-inner .blog-content {
  padding: 20px 0 20px 30px;
}

.blog-wrapper .blog-wrap .blog-card-wrap .blog-card .blog-inner .blog-content h5 {
  opacity: 0.6;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.01px;
  color: #292825;
}

.blog-wrapper .blog-wrap .blog-card-wrap .blog-card .blog-inner .blog-content h4 {
  padding-top: 10px;
  font-family: Nunito;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.27px;
  color: #031d3c;
}

.blog-wrapper .blog-wrap .blog-card-wrap .blog-card .blog-inner .blog-content .blog-box {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-wrapper .blog-wrap .blog-card-wrap .blog-card .blog-inner .blog-content .blog-box h6 {
  margin-left: 5px;
  margin-top: 5px;
  opacity: 0.6;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.01px;
  text-align: center;
  color: #292825;
}
/*# sourceMappingURL=about-style.css.map */