// VARIABLE FOR FONTS --->

$sourcesanspro:  'Source Sans Pro', sans-serif;
$gilroy: 'gilroy-bold.ttf';

//VARIABLE FOR COLORS --->

$primary-color: #177869;
$primary-color-light: #15b95f;
$hilighted-color:#fa7b70;
$font-color1: #031d3c;
$font-color2: #1e3547;
$border-color: #f3efea;
$def-p: #292825;
$behance-i: #0d6bff;
$pet-color: #005f55;
$bg-color1: #fcfbf8;
$bg-color2: #e0fbf6;
$yl-color: #fec468;
$cyan-color: #52bdb9;
$white: #ffffff;
$black: #000000;
$white-opacity: rgba(255,255,255,.7);